* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

header {
  width: auto;
  background-color: orange;
  color: white;
  padding: 15px;
}

.container {
  margin: 0 150px;
  align-items: center;
  justify-content: space-between;
}

.logo {
  width: 150px;
}

.card {
  width: calc(100% / 3);
  padding: 15px;
  position: relative;
}

img {
  width: 100%;
}

.img-hover {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
}

.card:hover .img-hover {
  display: block;
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.red-discount {
  background-color: red;
}

.green-info {
  background-color: green;
}

.image-container {
  position: relative;
  display: inline-block;
}

.icon-container {
  position: absolute;
  top: 70%;
}

.hearts {
  position: absolute;
  bottom: 520px;
  left: 400px;
}
